@media only screen and (max-width: 1100px) {
	.logo{
		font-family: 'Jua', sans-serif;
		font-size: 2em;
		font-weight: 200;
		color: #22e9e0;
	}
	
	#navBar{
		justify-content: space-between;
	}
	#navBar .logo{
		width: 50%;
	}
	#navBar .navigate{
		display: none;
	}
	#navBar .btn-menu-mobile{
		display: flex;
	}
	#navBar .language-select-mobile{
		min-width: 90px;
		justify-content: center;
		display: flex;
	}
}